<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The Interviewing Rewards Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    </head>
    <body>
        <div class="container-fluid text-center">
            <h2>Welcome to the Interviewing Rewards Application</h2>
            <a class="h3" th:href="@{/customers}">View Customers</a>
        </div>
    </body>
</html>
